.LocalPlaylist{
    margin-bottom: 1rem;
    align-items: baseline ;
}

.LocalPlaylist h3{
    padding: 0.65rem;
    color:white;
    display: inline;
    
}
.LocalPlaylist h3:hover{
        color:  #6c41ec;
        cursor: pointer; 
}
